@font-face {
	font-family: Roboto;
    src: url(../fonts/roboto.woff),
    	url(../fonts/roboto.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: Roboto;
    src: url(../fonts/robotomedium.woff),
    	url(../fonts/robotomedium.woff2);
    font-weight: 500;
    font-style: normal;
}   

body {
	min-width: 1200px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
	background-color: rgb(132, 157, 143);
}

h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
}

.site_wrapper {
	min-width: 940px;
	background-position: 50% 0;
	background-repeat: no-repeat;
}

/*.content-wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}*/

body > input[type="radio"] {
  display: none;
}

.slider {
  position: relative;
  margin: 0 2.3%;
  margin-bottom: 40px;
  padding-top: 250px;
  width: auto;
  text-align: center;
  color: #ffffff;
  
}

.slide {
	display: none;
}

.slide_title {
	width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
  line-height: 64px;
}


.button {
	display: inline-block;
	vertical-align: top;
	padding: 12px 24px;
	border-radius: 20px/50%;
	border: none;
	font-size: 18px;
	/*line-height: 24px;*/
	font-weight: 600;
	color: #ffffff;
	
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: linear-gradient(#e74a35, #f26843);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	cursor: pointer;
}

.button:hover {
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slide_button {
	padding: 12px 42px;
	font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  border-radius: 12%/50%;
}

.slider_switch {
	position: absolute;
	bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider_switch label {
	display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn_1:checked ~ .site_wrapper #slide_1,
#btn_2:checked ~ .site_wrapper #slide_2,
#btn_3:checked ~ .site_wrapper #slide_3 {
	display: block;
}

#btn_1:checked ~ .site_wrapper {
	background-color: rgb(132, 157, 143); 
	background-image: url("../img/backgr_1.png");
}

#btn_2:checked ~ .site_wrapper {
	background-color: rgb(137, 150, 166);
	background-image: url("../img/backgr_2.png");
}

#btn_3:checked ~ .site_wrapper {
	background-color: rgb(157, 139, 132);
	background-image: url("../img/backgr_3.png");
}

#btn_1:checked ~ .site_wrapper label[for="btn_1"],
#btn_2:checked ~ .site_wrapper label[for="btn_2"],
#btn_3:checked ~ .site_wrapper label[for="btn_3"] {
	background-color: #ffffff;
}

#btn_1:hover ~ .site_wrapper label[for="btn_1"],
#btn_2:hover ~ .site_wrapper label[for="btn_2"],
#btn_3:hover ~ .site_wrapper label[for="btn_3"] {
	background-color: rgba(255, 255, 255, 0.4);
}

h1 {
	font-weight: bold;
	font-size: 60px;
	
}

h2 {
	font-weight: bold;
	font-size: 35px;
	line-height: 41px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.centred {
	margin: 0 auto;
	width: 1200px;
	min-height: 64px;
}

.catalog_submenu,
.search,
.searching_field,
.login_form,
.basket_items,
.feedback_form {
	display: none;
}

.main_header {
	margin-top: 10px;
	width: 100%;
	min-height: 114px;
}

.main_logo {
	float: left;
	margin-left: 2.3%;
	padding-right: 10px;
	width: 154px;
	min-height: 64px;
}

.main_menu {
	float: left;
	/*width: 383px;*/
	min-height: 64px;
}

.main_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main_menu li {
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.main_menu a {
	display: block;
	margin: 0px 14px;
	margin-top: 20px;
	color: #ffffff;
	text-decoration: none;
	box-shadow: 0 0.5px 0 0 #ffffff;
}

.main_menu a:hover {
	margin: 0;
	margin-top: 12px;
	padding: 7px 14px;
	color: rgb(51, 51, 51);
	background-color: rgb(248, 247, 244);
	border-radius: 15px/50%; 
}

.main_menu a:active {
	box-shadow: inset 0 2px 0 1px rgb(105, 105, 105);
}

.main_menu a.current {
	margin: 0;
	margin-top: 12px;
	padding: 8px 14px;
	color: #ffffff;
	background-color: #d07058;
	border: none;
	border-radius: 15px/50%;
}

.catalog_list:hover .catalog_submenu {
	display: block;
}

.catalog_submenu {
	position: absolute;
	display: block;
	top: 50px;
	left: -8px;
	width: 144px;
	border-radius: 5px;
	background-color: rgb(248, 247, 244);

}

.catalog_submenu li {
	margin: 0;
	padding: 0;
	text-align: left;
}

.catalog_submenu a {
	display: block;
	
	color: #323232;
}

.user_block {
	position: relative;
	float: right;
	margin: 0;
	margin-top: 12px;
	margin-right: 2.3%;
	min-width: 267px;
	min-height: 46px;
	text-align: left;
}

.search_form,
.entrance,
.basket,
.basket_full {
	display: inline-block;
	vertical-align: top;
	background-color: rgba(254, 254, 254, 0.2);
}

.search_form {
	position: relative;
	margin-left: 6px;
	width: 33px;
	height: 33px;
	border: none;
	border-radius: 50%;
	background: rgba(254, 254, 254, 0.2) url("../img/spritesheet.png") no-repeat -3px -762px;
	cursor: pointer;
}

.search_form:hover {
	background: rgb(248, 247, 244) url("../img/spritesheet.png") no-repeat -3px -800px;
}

.search_form:hover .searching_field {
	display: block;
}

.searching_field {
	position: absolute;
	top: 37px;
	right: 0;
	width: 341px;
	max-height: 84px;
	padding: 20px 15px;
	border-radius: 5px;
	background-color: rgb(248, 247, 244);
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4)
}

.searching_field input {
	padding: 14px;
	width: 100%;
}

.entrance,
.basket,
.basket_full {
	margin-left: 8px;
	padding: 5px 15px;
	border-radius: 18px/50%;
}

.basket_full {
	background-color: rgb(248, 247, 244);
}

.login,
.basket_empty {
	position: relative;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
}

.basket_content {
	position: relative;
	color: rgb(51, 51, 51);
	font-size: 14px;
	text-decoration: none;
	
}

.entrance:hover .login_form,
.entrance:active .login_form {
	display: block;
}

.login_form {
	position: absolute;
	/*display: block;*/
	top: 37px;
	right: 125px;
	width: 237px;
	max-height: 214px;
	padding: 20px;
	border-radius: 5px;
	background-color: rgb(248, 247, 244);
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login_form input {
	padding: 14px;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}

.login_form .button {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0;
	width: 100px;
	border-radius: 20px/50%;
}

.login_form_links {
	display: inline-block;
	vertical-align: top;
	
}

.login_form_links a {
	display: block;
	padding-left: 14px;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: rgb(51, 51, 51);
	text-decoration: underline;
	/*box-shadow: 0 0.5px 0 0;*/
}

.entrance:hover,
.basket:hover {
	background-color: rgb(248, 247, 244);
}

.entrance:hover .login,
.basket:hover .basket_empty {
	color: rgb(51, 51, 51);
}

.entrance:active,
.basket:active {
	box-shadow: inset 0 2px 0 1px rgb(105, 105, 105);
}

.login {
	padding-left: 28px;
}

.login::before {
	content: "";
	position: absolute;
	top: -2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background: transparent url("../img/spritesheet.png") no-repeat -10px -358px;
}

.entrance:hover .login::before,
.entrance:active .login::before {
	background: rgb(248, 247, 244) url("../img/spritesheet.png") no-repeat -10px -397px;
}

.basket_empty {
	padding-left: 28px;
	padding-right: 18px;
}

.basket_empty::before {
	content: "";
	position: absolute;
	top: -2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background: transparent url("../img/spritesheet.png") no-repeat -10px -50px;
}

.basket:hover .basket_empty::before,
.basket:active .basket_empty::before {
	background: transparent url("../img/spritesheet.png") no-repeat -10px -10px;
}

.basket_content {
	padding-left: 28px;
}

.basket_content::before {
	content: "";
	position: absolute;
	top: -2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background: transparent url("../img/spritesheet.png") no-repeat -10px -90px;
} 

.basket_full:hover .basket_items {
	display: block;
}

.basket_items {
	/*display: block;*/
	position: absolute;
	top: 37px;
	right: 0;
	width: 508px;
	height: 212px;
	padding: 16px;
	border-radius: 5px;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	text-align: left;
	color: #323232;
	background-color: rgb(248, 247, 244);
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4); 
}

.basket_items table {
	box-shadow: 0 0.5px 0 0 #323232;
	padding-bottom: 5px;
}

.basket_items td {
	padding-right: 15px;
	height: 52px;
}

.table_txt {
	width: 216px;
}

.table_price {
	text-align: center;

}

.table_price span {
	color: #999999;
}

.full_price {
	text-align: right;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;

}

.basket_items .button {
	float: right;
	padding-top: 12px;
	padding-bottom: 14px;
}

input[type="search"],
input[type="password"],
input[type="email"],
input[type="text"] {
	padding: 14px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

input[type="search"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="text"]:hover {
	border: 2px solid rgba(154, 154, 154, 0.52);
}

input[type="search"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus {
	border: 2px solid rgba(46, 136, 228, 0.52);
}



.workday {
	float: right;
	margin-right: 2.3%;
	margin-top: -10px;
	width: 267px;
	min-height: 41px;
	text-align: right;
}

.workday p {
	margin: 0;
	font-size: 14px;
}

.workday b {
	font-size: 22px;
	line-height: 24px;
}

.main_content {
	width: 100%;
	
}

.breadcrumbs {
	margin-left: 2.3%;
	margin-top: -46px;
	text-align: left;
}

.breadcrumbs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.breadcrumbs li {
	display: inline-block;
	vertical-align: top;
	padding-right: 6px;
}

.breadcrumbs a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	box-shadow: 0 0.5px 0 0 #ffffff;
}

.filter {
	margin-left: 2.3%;
	min-width: 880px;
}

.filter p {
	text-align: left;
	margin: 0;
	margin-left: 15px;
	margin-top: 16px;
	margin-bottom: 6px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.select,
.range,
.radio,
.check {
	float: left;
	margin-bottom: 5px;
	/*display: inline-block;
	vertical-align: bottom;
	text-align: left;*/
}

.check_inner,
.check button {
	display: inline-block;
	vertical-align: top;
}

.select_inner,
.range_inner,
.radio_inner,
.check_inner,
.check button {
	margin-right: 14px;
	padding: 0 15px;
	padding-top: 8px; 
	height: 30px;
	border-radius: 18px/50%; 
	background-color: rgba(255, 255, 255, 0.2);
}

.range_inner {
	position: relative;
	width: 220px;
	height: 38px;
	padding: 0;
}

.strip {
	position: absolute;
	top: 16px;
	left: 16px;
	
	width: 188px;
	height: 4px;
	background-color: rgba(255, 255, 255, 0.5);
}

.round1,
.round2 {
	position: absolute;
	z-index: 2;
	bottom: -8px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.round1 {
	left: 34px;
}

.round2 {
	left: 132px;
}

.strip_bold {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 37px;
	width: 107px;
	height: 4px;
	background-color: rgb(248, 247, 244);
}

.radio_inner {
	position: relative;
	padding-left: 45px;
}

.radio_inner label {
	position: relative;
	display: inline-block;
	padding-right: 45px;
}

.radio_inner label:last-child {
	padding-right: 0;
}

.radio_inner label::before {
	content:"";
	position: absolute;
	top: 0px;
	left: -30px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid white;
}

.radio_inner label:hover::before {
	top: -1px;
	border: 2px solid white;
	cursor: pointer;
}

input[type="radio"],
input[type="chechbox"] {
	position: absolute;
	min-width: 1px;
	min-height: 1px;
	opacity: 0;
  pointer-events: none;
}

.radio_inner input:checked + .radio_inner label::before {
	/*background: transparent url("../img/spritesheet.png") no-repeat -10px -913px;*/
	border: 2px solid red;
}

.check_inner {
	position: relative;
	padding-left: 45px;
}

.check_inner label {
	position: relative;
	display: inline-block;
	padding-right: 45px;
}

.check_inner label:last-child {
	padding-right: 0;
}

.check_inner label::before {}

.check button {
	padding: 0 28px;
	height: 38px;
	color: #ffffff;
	border: 2px solid #ffffff;
	cursor: pointer;
}

.check button:hover {
	color: #323232;
	background-color: #ffffff;
}

.check button:active {
	color: #323232;
	background-color: #ededed;
	border: none;
	box-shadow: inset 0 2px 0 1px rgb(105, 105, 105);
}

.offerta_berry,
.offerta_chocolata {
	float: left;
	margin-left: 2.3%;
	padding: 18px;
	width: 524px;
	min-height: 193px;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	border-radius: 20px;
	background-color: rgba(255, 0, 0, 0.2);
}

.headline2 {
	margin: 0;
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	text-align: left;
}

h1.headline2 {
	margin-left: 2.3%;
	margin-top: 5px;
	margin-bottom: 10px;
}

.offerta a {
	float: right;
	margin-top: 27px;
	height: 22px;
}

.offerta_chocolata {
	margin-left: 2.2%;
	background-image: url("../img/chocolata.png");
}

.offerta_berry {
	background-image: url("../img/berries.png");
}

.catalog_gallery {
	margin-top: 40px;
	font-size: 0;
	/*background-color: rgba(0, 0, 255, 0.2);*/
}

.catalog_item {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 267px;
	min-height: 322px;
	/*margin-left: 2.2%;*/
	margin: 0 1.1%;
	margin-bottom: 40px;
	font-size: 16px;
	/*background-color: rgba(255, 0, 0, 0.2);*/
}

.hit {
	position: absolute;
	z-index: 4;
	width: 61px;
	height: 61px;
	top: 0;
	left: 0;
	background-image: url("../img/hit.png");
	border-radius: 50%;
}

.catalog_item img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border-radius: 50%;
}

.item_button {
	position: absolute;
	display: none;
	z-index: 4;
	top: 333px;
	left: 32px;
	/*right: 32px;*/
	padding: 12px 16px;
}

.catalog_item b {
	position: absolute;
	z-index: 3;
	top: 220px;
	left: 0;
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	color: #ffffff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.catalog_item span {
	font-size: 30px;
	text-transform: none;
}

.item_name {
	position: relative;
	top: 278px;
	width: 100%;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-decoration: none;
	color: #ffffff;
	box-shadow: 0 0.5px 0 0 #ffffff;
}

.item_overlay {
	position: absolute;
	display: none;
	z-index: 1;
	top: -10px;
	left: -10px;
	width: 293px;
	height: 405px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.2);
}

.catalog_item:hover .item_overlay,
.catalog_item:hover .item_button {
	display: block;
}

.catalog_item:hover .item_name {
	box-shadow: none;
}

.shop_description {
	/*width: 100%;
	min-height: 307px;
	margin: 0 2.2%;*/
	margin-top: 40px;
	margin: 0 2.3%;
	padding: 0 21px;
	padding-top: 17px;
	border-radius: 16px;	
	background-image: url("../img/wafer.jpg");
	text-align: left;
	color: rgb(50, 50, 50);
	/*background-color: rgba(0, 0, 255, 0.2);*/
}

.shop_description h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

.shop_descr_img {
	float: left;
	margin-right: 8px;
	margin-bottom: 38px; 
	width: 48px;
	min-height: 50px;
	background-color: rgba(0, 0, 255, 0.2);
	background-repeat: no-repeat;
}

.icecream {
	background: url("../img/spritesheet.png") -10px -579px no-repeat;
}

.cow {
	background: url("../img/spritesheet.png") -10px -290px no-repeat;
}

.leaf {
	background: url("../img/spritesheet.png") -10px -700px no-repeat;
}

.term {
	background: url("../img/spritesheet.png") -10px -995px no-repeat;
}

.shop_descr_block {
	float: left;
	width: 539px;
	min-height: 77px;
	margin-top: 12px;
	margin: 0 1.1%;
	/*background-color: rgba(255, 0, 0, 0.2);*/
}

.shop_descr_block:nth-child(2n) {
	margin-left: 0;
}

.shop_descr_block:nth-child(2n+1) {
	margin-right: 0;
}

.extra_info {
	margin-top: 40px;
	/*background-color: rgba(0, 0, 255, 0.2);*/
}

.blog_new,
.notspam_backgr {
	float: left;
	width: 46.65%;
	min-height: 222px;
	/*margin-left: 0 1.1%;*/
	border-radius: 16px;
	text-align: left;
	background-color: #ffffff;
}

.notspam_backgr {
	/*float: right;*/
	margin-left: 2.2%;
	/*margin-right: 2.3%;*/
	background-image: url("../img/notspam.jpg");
}

.notspam {
	margin: 6px;
	padding: 30px 20px 35px;
	height: 210px;
	border-radius: 16px;
	background-color: rgb(248, 247, 244);
	box-sizing: border-box;
}

.notspam p {
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #5a5a5a;
}

.notspam input {
	margin-right: 12px;
	width: 310px;
}

.blog_new {
	margin-left: 2.3%;
	background: url("../img/blognew.jpg") right 50% no-repeat;
	background-size: cover;
	background-clip: padding-box;
}

a.blog_new {
	/*padding-left: 21px;*/
	color: rgb(50, 50, 50);
	text-decoration: none;
}

.blog_new p {
	margin-left: 21px;
	margin-bottom: 8px;
	margin-top: 25px;
}

.blog_new h3 {
	margin: 0;
	margin-left: 21px;
	font-weight: 700;
	text-decoration: underline;
}

.map {
	/*position: relative;*/
	width: auto;
	height: 430px;
	margin-top: 40px;
	background: rgba(0, 0, 255, 0.2) url("../img/mapa_flat.jpg") center no-repeat;
}

.feedback {
	float: right;
	margin-right: 2.3%;
	margin-top: 62px;
	padding: 25px;
	padding-top: 30px;
	max-width: 302px;
	min-height: 250px;
	text-align: left;
	color: #323232;
	border-radius: 14px;
	background-color: #ffffff;
}

.feedback p {
	margin-top: 0;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.feedback b {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.feedback 

.paginator {
	float: right;
	background-color: rgba(255, 0, 0, 0.2);
}

.main_footer {
	/*margin-bottom: 25px;*/
	width: 100%;
	min-height: 108px;
}

.footer_social {
	float: left;
	width: 267px;
	min-height: 40px;
	margin-left: 2.3%;
	margin-top: 35px;
	text-align: left;
	/*background-color: rgba(255, 0, 0, 0.2);*/
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	margin-right: 8px;
	margin-left: 0; 
	width: 32px;
	height: 32px;
	font-size: 0;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.social-btn:hover {
	opacity: 1;
}

.social-btn:active {
	opacity: 0.8;
	box-shadow: inset 0 2px 0 1px #888888;
}

.social-btn-tw {
	background: url("../img/spritesheet.png") -10px -1065px no-repeat;
	opacity: 0.8;
}

.social-btn-inst {
	background: url("../img/spritesheet.png") -10px -649px no-repeat;
	opacity: 0.8;
}

.social-btn-fb {
	background: url("../img/spritesheet.png") -10px -437px no-repeat;
	opacity: 0.8;
}

.social-btn-vk {
	background: url("../img/spritesheet.png") -10px -1117px no-repeat;
	opacity: 0.8;
}

.footer_menu {
	float: left;
	max-width: 540px;
	min-height: 40px;
	margin: 0 2.2%;
	margin-top: 35px;
	padding: 0 127px;
	text-align: left;
	/*background-color: rgba(255, 0, 0, 0.2);*/
}

.footer_menu a {
	margin-top: 0;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-decoration: none;
	color: #ffffff;
	box-shadow: 0 0.5px 0 0 #ffffff;
}

.footer_menu_col1,
.footer_menu_col2 {
	display: inline-block;
	vertical-align: top;
}

.footer_menu_col1 {
	
	width: 116px;
	margin-right: 26px;
}

.footer_menu_col2 {
	width: 163px;
}

.footer_menu a.lovely {
	position: relative;
	font-weight: bold;

}

.footer_menu a.lovely::before {
	content: "";
	position: absolute;
	top: 3px;
	left: -22px;
	width: 16px;
	height: 16px;
	background: transparent url("../img/spritesheet.png") no-repeat -10px -489px;
	/*background-color: red;*/
}

.footer_contacts {
	float: right;
	width: 190px;
	min-height: 56px;
	margin-top: 20px;
	margin-right: 2.3%;
	text-align: left;
	/*background-color: rgba(255, 0, 0, 0.2);*/
}

a.footer_logo {
	box-shadow: none;
}

.footer_contacts p {
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.footer_contacts p > a {
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	box-shadow: 0 0.5px 0 0 #ffffff;
}
